<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>تسجيل الدخول</title>
  </script>
  <!-- Set the page's icon -->
  <link rel="icon" href="/Media/Images/WebSift/WibSift.png" />
  <!-- Page's CSS -->
  <link rel="stylesheet" href="/Styles/login.css" />
  <!-- Import the bootstrap JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <!-- Import the bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <!-- Loading CSS -->
  <link rel="stylesheet" href="/Styles/loading.css" />
  <!-- Loading JavaScript -->
  <script src="/Scripts/loading.js"></script>
</head>
<body>
    <!-- Loading screen -->
    <div class="loading-container" id="loading">
      <div class="loading-spinner">
        <div class="image-container">
          <img src="/Media/Images/WebSift/WibSift.png" alt="صورة تحميل الصفحة">
        </div>
      </div>
    </div>
  <% if(errorMessage){ %>
    <div class="alert alert-warning alert-dismissible fade show" id="alert" role="alert">
      <%= errorMessage %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% } %>
  <main class="container">
    
    <section class="slider">
      

      <h3>سجل دخولك لتتمكن من استخدام خدماتنا</h3>
      <h5>إذا لم يكن لديك حساب أنشئ واحد بالمجان!</h5>
      
      <div class="create-account">
        <a href="/signup">إنشاء حساب جديد</a>
      </div>
      
    </section>
    
    

    <section class="login">
      <div class="logo-and-title">
        <a class="m-2" href="/" title="العودة للصفحة الرئيسية"><img src="/Media/Images/WebSift/WibSift.png"
            alt="شعار ويب سيفت"></a>
        <h3 class="m-2">تسجيل الدخول</h3>
        <span class="line"></span>
      </div>
      <form action="/login" method="post" class="container-fluid">

        <div class="input-field">
          <input type="email" name="email" id="email" minlength="5" maxlength="50" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" value="<%= formValues.email %>">
          <div class="labelline">البريد الإلكتروني</div>
          <br>
          <p class="errorMessage " id="emailErr"><%= errorMessages.email %></p>
        </div>
        
        <div class="input-field">
          <input type="password" name="password" id="password" minlength="8" maxlength="32" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).*$" value="<%= formValues.password %>">
          <div class="labelline">كلمة المرور</div>
          <br>
          <p class="errorMessage " id="passwordErr"><%= errorMessages.password %></p>
        </div>

        <div class="link-div col-8 sign-up-link">
          <a href="/signup" class="link">إنشاء حساب جديد</a>
        </div>

        <button type="submit" value="submit" class="btn col-4" id="submitbtn">تسجيل الدخول</button>


      </form>
    </section>

    
  </main>
  
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Validator library -->
  <script src="https://cdn.jsdelivr.net/npm/validator/validator.min.js"></script>
  <!-- page's script -->
  <script src="/Scripts/login.js"></script>
  <!-- Bootstrap's JavaScript -->
  <script src="/Libraries/Bootstrap/js/bootstrap.min.js"></script>
</body>

</html>